ion-card {
  border-radius: 20px;
  margin: 25px !important;


  ion-item{
    padding: 13px 5px;
    --background: #e3e3e878;
    --border-radius: 10px;

    ion-label{
      width: 70px;
      text-align: center;
      font-size:17px;
      text-transform: capitalize;
    }

  }


}

