<ion-header>
  <ion-toolbar>
    <ion-title>Add Address</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark" (click)="dissmis()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <form class="container" [formGroup]="addressForm">
      <ion-item lines="none">
        <ion-label>country</ion-label>
        <ion-input formControlName="country" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>state</ion-label>
        <ion-input formControlName="state" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>city</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>address</ion-label>
        <ion-input formControlName="address" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>pincode</ion-label>
        <ion-input formControlName="pincode" type="number"></ion-input>
      </ion-item>

      <ion-button class="ion-margin" color="primary" expand="block" shape="round" mode="ios" (click)="save()"
        [disabled]='!addressForm.valid'>save
      </ion-button>
    </form>

  </ion-card>

</ion-content>
