<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngFor="let pro of products">{{pro.name | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge color="danger" *ngIf="cartItemCount > 0 "> {{cartItemCount }} </ion-badge>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngFor="let pro of products">
  <ion-card class="main">
    <ion-card-header>
      <img class="big" [src]='pro.imgUrl' />
      <ion-card class="small">
        <img [src]="pro.imgUrl">
      </ion-card>
    </ion-card-header>
    <ion-card-content>
      <div class="row-1">
        <ion-row class="">
          <ion-col size="9">
            <ion-card-title>{{pro.name  |titlecase}}</ion-card-title><br />
            <span class="rateing">
              0 <ion-icon name="star"></ion-icon>
            </span>
          </ion-col>
          <ion-col size="3">
            <ion-button color="danger" fill="clear" (click)="addFav(pro)">
              <ion-icon [name]="!pro.favorite ? 'heart-outline' : 'heart'"></ion-icon>
            </ion-button><br>
            <ion-text class="text-right" color="primary">{{pro.price|number}} EGP</ion-text>
          </ion-col>

        </ion-row>

      </div>

      <ion-button color="dark" expand="full" (click)="addToCart(pro)">Add To Cart</ion-button>
      <h2>Description</h2>
      <p>
        {{pro.description}}
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt excepturi quod quas a at aperiam nam architecto
        porro tempore eos saepe ut, ipsa esse quae illum vero iusto praesentium corrupti.
      </p>
    </ion-card-content>

  </ion-card>


  <div class="category-block">
    <ion-item class="head" lines="none" ion-text-left ion-align-self-center>
      Similar Products
      <ion-label ion-text-right class="view" color="primary" (click)="setViewId(pro.subId)">
        View More
      </ion-label>
    </ion-item>
    <div class="prodCont">
      <ng-container *ngFor="let card of sameProducts">
        <ion-card *ngIf="card.id !== pro.id">
          <span class="discount" *ngIf="card.discount"> {{card.discount | number}} %</span>
          <ion-button class="wishbtn" color="danger" fill="clear" (click)="addFav(card)">
            <ion-icon slot="end" [name]="!card.favorite ? 'heart-outline' : 'heart'"></ion-icon>
          </ion-button>
          <ion-card-header (click)="detail(card)">
            <img [src]="card.imgUrl" />
          </ion-card-header>
          <ion-card-title> {{card.name  |titlecase}} </ion-card-title>
          <ion-card-subtitle color="primary"> {{card.price | number}} EGP </ion-card-subtitle>
        </ion-card>
      </ng-container>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button mode="ios" color="dark">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="success" (click)="shareWhats()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="shareTwitter()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
