ion-toolbar{
  text-align: left;

  img{
      max-width: 150px;
  }

  ion-icon {
      font-size: 28px;
  }

  ion-badge {
    border-radius: 50%;
    position: absolute;
    left:45% ;
    bottom:45%;
    z-index: 10;
    font-size: 11px;
    height: 17px;
    width: 20px;
  }
}

.main{
    margin: auto;
    border: 0;
    box-shadow: 0 0;
    ion-card-header{
        img.big{
          margin-top: 60px;
          height: 165px;
          width: 100%;
          object-fit: contain;
        }
    }
    ion-card-content{
        padding: 0;

      .row-1{
        padding:0 10px;
      }
    .rateing{
      display: inline-block;
      width: 45px;
      height: 25px;
      padding: 2px 5px;
      background-color: rgb(0 255 57);
      font-size: 16px;
      color: #fff;
      letter-spacing: 2px;
      border-radius: 8px;
    }

        h2{
            padding: 5px 10px;
        }
        p{
            padding: 5px 10px;
        }
    }

}

.small{

    border: 1px solid #eee;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0px 0px 5px 1px #eee;
    position: absolute;
    width: 65px;
    top: 0px;
    right: 0px;
    height: 65px;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.category-block{
    ion-item.head{
        margin-top:7px;
        margin-bottom:7px;
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
        text-transform: capitalize;

        .view{
            text-align: right;
            font-size: 18px;
            font-weight: 600;
        }
    }
}
.prodCont {
    height: auto;
    white-space: nowrap;
    overflow-x: scroll;

    ion-card {
        display: inline-block;
        height: 200px;
        width: 145px;
        padding: 10px;
        border-radius: 15px;

        ion-card-header{
            height: 130px;
        }

        img{
          height: 100%;
          object-fit: contain;
        }

        ion-card-title{
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .wishbtn{
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 10;

            ion-icon{
                font-size: 24px;
            }
        }
    }
}

.prodCont::-webkit-scrollbar {
    display: none;
}

ion-fab{
  margin: 5px;
  ion-fab-button{
    margin-bottom: 5px;
  }
}
