*{
  color:#fff
}
ion-menu,
ion-content{
  --background:rgba(1,1,1,.4);

  ion-list{
    background:rgba(1,1,1,0);
    min-height: 100%;
  }

  ion-item{
    --background:rgba(0,0,0,0);
    padding: 5px;
  }

}


ion-header::after{
  width: 0;
}

.logo-item{
  padding: 20px 0 10px 4px;
  .logo-img{
    border: 1px solid #999999;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px;
  }

  .info{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;

    h4{
      font-weight: 400;
      margin-bottom: 5px;
    }
    ion-text{
      font-style: italic;
      color: #999;
    }
  }
}
