<ion-split-pane contentId="main">

  <!--  the side menu  -->
  <ion-menu contentId="main">
    <ion-header>


    </ion-header>

    <ion-content>
      <ion-list lines="none" class="logo-item">
        <ion-menu-toggle auto-hide="false">
          <div class="logo-item">

            <ion-row *ngIf="!isUser">
              <ion-col size="4">
                <img class="logo-img" src="../../../assets/icon/mainLogo.jpg">
              </ion-col>
              <ion-col size="8">
                <div class="info">
                  <div>
                    <h4>Market</h4>
                    <ion-text>hi, guest</ion-text>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="isUser">
              <ion-col size="4">
                <img class="logo-img" [src]="userData.photoURL">
              </ion-col>
              <ion-col size="8">
                <div class="info">
                  <div>
                    <h4>Market</h4>
                    <ion-text>hi, {{ userData.displayName}} </ion-text>
                  </div>
                </div>
              </ion-col>
            </ion-row>

          </div>


          <ion-item *ngIf="!isUser" routerLink="/menu/pages/login">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            <ion-label>
              Login
            </ion-label>
          </ion-item>
          <ion-item *ngIf="isUser" routerLink="/menu/pages/my-account">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
              My Account
            </ion-label>
          </ion-item>
          <ion-item *ngFor="let p of pages" [routerLink]="p.url">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>
              {{p.name}}
            </ion-label>
          </ion-item>
          <ion-item (click)="share()">
            <ion-icon slot="start" name="share-social-outline"></ion-icon>
            <ion-label>Share with</ion-label>
          </ion-item>
          <ion-item (click)="rateUS()">
            <ion-icon slot="start" name="star-half-outline"></ion-icon>
            <ion-label>Rate Us</ion-label>
          </ion-item>
          <ion-item *ngIf="isUser" (click)="logOut()">
            <ion-icon name="log-in" slot="start"></ion-icon>
            <ion-label>
              Log Out
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>
