<ion-header *ngIf="data">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text> {{data[0].name ? data[0].name : "Similar Products"}} </ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Searchbar with cancel button always shown -->
  <ion-searchbar mode="ios" class="ion-padding" disabled routerLink="menu/pages/search"></ion-searchbar>

  <h1 *ngIf="data[0].name" class="h1"> {{data[0].name}} </h1>
  <div *ngIf="sub.length > 0">

    <ion-buttons class="ion-padding">
      <ion-button color="primary" shape="round" fill="solid" [color]="sellectedSub == 'all' ?'primary':'medium' "
        (click)="getProductWithCategory(data.id)">
        All</ion-button>
      <ion-button *ngFor="let subcat of sub" shape="round" fill="solid"
        [color]="subcat.id == sellectedSub ?'primary':'medium' " (click)="getProductWithSebCategory(subcat.id)">
        {{subcat.name}}
      </ion-button>
    </ion-buttons>
  </div>



  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let pro of products;let i=index;trackBy:track">
        <ion-card>
          <span class="discount" *ngIf="pro.discount"> {{pro.discount | number}} %</span>
          <ion-button class="wishbtn" color="danger" fill="clear" (click)="addFav(pro)">
            <ion-icon slot="end" [name]="!pro.favorite ? 'heart-outline' : 'heart'"></ion-icon>
          </ion-button>
          <ion-card-header (click)="detail(pro)">
            <img [src]="pro.imgUrl">
          </ion-card-header>
          <ion-card-content>
            <ion-card-title> {{pro.name  |titlecase}} </ion-card-title>
            <ion-card-subtitle color="primary" slot="end"> {{pro.price |number}} EGP </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
