ion-title {
    font-size: 22px;
    font-weight: bold;
}

ion-buttons{
    ion-button{
        margin: 0 5px;
        font-size: 16px;
    }

}

.h1{
    padding-left: 16px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;

}

ion-card{
    border-radius: 15px;
    height: 200px;

    ion-card-header{
        height: 145px;
    }

    img{
        height: 100%;
        object-fit: contain;
    }

    ion-card-title{
        font-size: 1.2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .wishbtn{
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 10;

        ion-icon{
            font-size: 24px;
        }
    }
}

