<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hot Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let pro of products;let i = index ; trackBy:track">
        <ion-card>
          <span class="discount" *ngIf="pro.discount"> {{pro.discount | number}} %</span>
          <ion-button class="wishbtn" color="danger" fill="clear" (click)="toggleFav(pro)">
            <ion-icon slot="end" [name]="!pro.favorite ? 'heart-outline' : 'heart'">
            </ion-icon>
          </ion-button>
          <ion-card-header (click)="detail(pro)">
            <img [src]="pro.imgUrl">
          </ion-card-header>
          <ion-card-content>
            <ion-card-title> {{pro.name  | titlecase}} </ion-card-title>
            <ion-card-subtitle color="primary" slot="end"> {{pro.price}} EGP </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
