<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Creat Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-content class="ion-margin-top">

    <ion-card class="logo" *ngIf="!pic">
      <ion-card-header>
        <ion-icon name="camera"></ion-icon>
      </ion-card-header>
      <ion-badge color="primary" (click)="addPicture()">
        <ion-icon name="add"></ion-icon>
      </ion-badge>
    </ion-card>

    <div class="profilePic" *ngIf="pic">
      <img [src]='picUrl' />
    </div>


    <ion-card>
      <form class="container" [formGroup]="signUpForm">
        <ion-item lines="none">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input formControlName="userName" placeholder="user name" type="text" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-input formControlName="phone" placeholder="phone" type="phone" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input formControlName="email" placeholder="email" type="email" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          <ion-input formControlName="password" placeholder="password" type="password" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          <ion-input formControlName="pasawordConfirm" placeholder="password" type="password" required></ion-input>
        </ion-item>

        <ion-button class="ion-margin" color="primary" expand="block" shape="round" mode="ios" (click)="submitSignUp()"
          [disabled]='!signUpForm.valid'>SignUp
        </ion-button>
      </form>

    </ion-card>


  </ion-content>