.logo{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(204, 217, 221);
    overflow: visible;

    ion-icon{
        font-size: 4rem;
    }

    ion-badge{
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 100;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        ion-icon{
            font-size: 28px;
            font-weight: bold;
        }
    }


}

.profilePic{
    margin-left: auto;
    margin-right: auto;
    width: 170px ;
    height: 170px ;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    img{
        object-fit: cover;
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}

ion-card ion-item{
    padding: 10px;
    color: #000000;
    
}

