
.pro-card{
  border-radius: 10px;
  box-shadow: 0px 1px 7px 0px;
  height: 90px;

  img{
    margin: 0 auto;
    height: 80px;
    object-fit: contain;
    width: fit-content;
  }

  h4{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
  }

  ion-text{
    font-size: 16px;
  }
}
