<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Searchbar with cancel button always shown -->
  <ion-searchbar mode="ios" class="ion-margin-top" (ionChange)="onSearchChange($event)"></ion-searchbar>


  <ion-card class="pro-card" *ngFor="let item of items">
    <ion-row>
      <ion-col size="4">
        <img [src]="item.imgUrl">
      </ion-col>
      <ion-col size="8">
        <h4> {{item.name |titlecase}} </h4>
        <ion-text color="dark"> {{item.description }} </ion-text><br>

      </ion-col>

    </ion-row>
  </ion-card>

</ion-content>
