<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <h2>Market</h2>
    <ion-text class="ion-padding">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perferendis, repellendus id, quia expedita esse
      aperiam, non commodi dignissimos quis cupiditate et. Quasi earum placeat aut qui quam nemo totam?
    </ion-text>
  </div>

</ion-content>