.logo{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
// .logo img{

// }

ion-card ion-item{
    padding: 10px;
    color: #000000;

}

.facebook{
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-icon {
      font-size: 80px;
      color: #4267B2;
  }
}
