<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-top">
  <ion-card class="logo">
    <ion-card-header>
      <img src="../../../assets/icon/mainLogo.jpg">
    </ion-card-header>
  </ion-card>

  <ion-card>
    <form class="container" [formGroup]="loginForm">
      <ion-item lines="none">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input formControlName="email" placeholder="email" type="email" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input formControlName="password" placeholder="password" type="password" required></ion-input>
      </ion-item>
      <ion-button class="ion-margin" color="primary" expand="block" shape="round" (click)="onSubmit()">Login
      </ion-button>
    </form>

    <ion-button color="dark" class="ion-margin" expand="block" fill="clear" (click)="navToSign()">Sign Up</ion-button>
  </ion-card>

  <ion-card class="facebook" (click)="loginFacebook()">
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-card>

</ion-content>
