
ion-toolbar{
  text-align: center;
  ion-title{
    text-align: left;
  }


  img{
      max-width: 150px;
  }


  ion-icon {
    font-size: 28px;
  }

  ion-buttons{
    margin-left:0
  }

  ion-badge {
      border-radius: 50%;
      position: absolute;
      left:45% ;
      bottom:45%;
      z-index: 10;
      font-size: 11px;
      height: 17px;
      width: 20px;
  }

}

.logo-item{
  padding: 10px 0 10px 4px;
  .logo-img{
    border: 1px solid #999999;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px;
  }

  .info{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;

    h4{
      font-weight: 400;
      margin-bottom: 5px;
    }
    ion-text{
      font-style: italic;
      color: #999;
    }
  }
}

/**************          [segmant]        **************/

ion-segment{
  --background	:var(--secondary);
  color: #fff;
  font-weight: 600;

  ion-segment-button{
    margin-bottom: 5px;
    color: #bbb;
  }
}


.address{

  ion-item{
    padding: 5px;
  }

  .num-address{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #888888;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-inline-end: 10px;
  }

  ion-label{
    white-space: normal;
  }

  ion-icon{
    font-size: 22px;
    padding: 3px;
  }

}
