<ion-header>
  <ion-toolbar class="">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>my Account</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFav()">
        <ion-badge color="danger" *ngIf="favItemCount > 0 "> {{favItemCount}} </ion-badge>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openCart()">
        <ion-badge color="danger" *ngIf="cartItemCount > 0 "> {{cartItemCount}} </ion-badge>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="logo-item">
    <ion-row *ngIf="userData">
      <ion-col size="3">
        <img class="logo-img" [src]="userData.photoURL">
      </ion-col>
      <ion-col size="5">
        <div class="info">
          <div>
            <h4> {{userData.displayName}} </h4>
            <ion-text> {{userData.email}} </ion-text>
          </div>
        </div>
      </ion-col>
      <ion-col size="3" class="d-flex justify-content-center align-items-center">
        <ion-button fill="clear">
          <ion-text>edit</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <!-------------------------- Segment toolbar ------------------------>
  <ion-toolbar>
    <ion-segment color="light" [(ngModel)]="sellectedSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="Address">
        <ion-label>My Address</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Orders">
        <ion-label>My Orders</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-------------------------- Segment content ------------------------>

  <div>

    <div class="address" *ngIf="sellectedSegment == 'Address' ">

      <ion-card mode="ios" *ngFor="let item of address;let i = index">
        <ion-item lines="none" class="item-address" class="ion-no-padding">

          <div class="num-address" slot="start">
            {{i + 1}}
          </div>
          <ion-label>
            {{item.country}},{{item.state}},{{item.city}}-{{item.pincode}},{{item.address}}
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary" shape="round" fill="solid" (click)="editAddress(item,i)">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="danger" shape="round" fill="solid" (click)="deleteAddress(i)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>

        </ion-item>
      </ion-card>


    </div>

    <div class="orders" *ngIf="sellectedSegment == 'Orders' ">

    </div>

  </div>

  <ion-fab *ngIf="sellectedSegment == 'Address' " vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="addAddress()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
