
ion-toolbar{
  text-align: center;

  ion-title{
    padding-right: 0;
  }

  img{
      max-width: 150px;
  }

  ion-icon {
      font-size: 28px;
  }

  ion-buttons{
    margin-left:0
  }

  ion-badge {
      border-radius: 50%;
      position: absolute;
      left:45% ;
      bottom:45%;
      z-index: 10;
      font-size: 11px;
      height: 17px;
      width: 20px;
  }

}

.slider {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100px;
    margin-top: -5px;

    ion-card {
        border: none;
        box-shadow: none;

        ion-card-header {
            border-radius: 50%;
            object-fit: cover;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ion-card-title {
            margin-top: 7px;
            font-size: 13.5px;
            font-weight: bold;
        }
    }
}

.autoSlide{
  ion-slide{
    height: 120px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.category-block{
    ion-item.head{
        margin-top:0px;
        margin-bottom:0px;
        padding:0 5px;
        font-weight: bold;
        font-size: 18px;
        text-transform: capitalize;

        .view{
            text-align: right;
            font-size: 16px;
            font-weight: 400;
        }
    }


}
.prodCont {
    height: auto;
    white-space: nowrap;
    overflow-x: scroll;

    ion-card {
        display: inline-block;
        height: 190px;
        width: 140px;
        padding: 10px;
        border-radius: 5px;


        img{
            margin: auto;
            height: 90px;
            object-fit: contain;
        }


        ion-card-title{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }


        .wishbtn{
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 10;

            ion-icon{
                font-size: 24px;
            }
        }

    }
}

.prodCont::-webkit-scrollbar {
    display: none;
}

.height{
    height: 100%;
}
