<ion-header>
  <ion-toolbar class="">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="">
      <img src="../../../assets/icon/Market_Logo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFav()">
        <ion-badge color="danger" *ngIf="favItemCount > 0 "> {{favItemCount}} </ion-badge>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openCart()">
        <ion-badge color="danger" *ngIf="cartItemCount > 0 "> {{cartItemCount}} </ion-badge>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>


  <!-- ion spinner -->
  <ion-row class="ion-justify-content-center ion-align-items-center height" *ngIf="loading">
    <ion-col size="auto">
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-col>
  </ion-row>

  <!-- ion refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-row class="ion-justify-content-center" *ngIf="!loading">
    <ion-col size="12" size-sm="12" size-md="6">

      <div class="slider">
        <ion-slides [options]="slideOpts1">
          <ion-slide *ngFor="let cat of category;let i= index">
            <ion-card (click)="getCat(cat)">
              <ion-card-header [color]='cat.color' class="overflow-hidden">
                <img [src]="cat.imgUrl">
              </ion-card-header>
              <ion-card-title>
                {{cat.name}}
              </ion-card-title>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>

      <ion-slides class="autoSlide" pager="true" [options]="slideOpts2">
        <ion-slide>
          <img src="../../../assets/icon/slider1.jpg">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/icon/images.jfif">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/icon/slider3.jfif">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/icon/slider5.jfif">
        </ion-slide>
      </ion-slides>


      <div class="category-block" *ngFor="let slide of slidproducts">
        <ion-item class="head" lines="none" ion-align-self-center>
          {{slide.category.name}}
          <ion-label ion-text-right class="view" color="primary" (click)="getCat(slide.category)">
            View More
          </ion-label>
        </ion-item>
        <div class="prodCont">
          <ion-card *ngFor="let product of slide.products;let i=index ;trackBy:track">
            <span class="discount" *ngIf="product.discount"> {{product.discount | number}} %</span>
            <ion-button class="wishbtn" color="danger" fill="clear" (click)="addFav(product)">
              <ion-icon slot="end" [name]="!product.favorite ? 'heart-outline' : 'heart'"></ion-icon>
            </ion-button>
            <ion-card-header (click)="detail(product)">
              <img [src]="product.imgUrl" loading='lazy' />
            </ion-card-header>
            <ion-card-content ion-text-left>
              <ion-card-title> {{product.name  | titlecase}} </ion-card-title>
              <ion-card-subtitle color="primary"> {{product.price | number}} EGP</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-col>
  </ion-row>






</ion-content>
