

.pro-card{
  border-radius: 10px;
  box-shadow: 0px 1px 7px 0px;
  height: 120px;

  img{
    margin: auto;
    height: 100px;
    object-fit: contain;
  }

  h4{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
  }


  .amount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px auto;
  }
}

ion-footer{
  height: 60px;

  ion-col:first-of-type{
    padding-left: 15px;
  }

  p:first-of-type{
    margin: 0;
  }

  ion-button{
    font-size: 12px;
  }
}
