<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>your Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->


  <ion-card class="pro-card" *ngFor="let pro of cart;let i=index;trackBy:track">
    <ion-row>
      <ion-col size="3">
        <img [src]="pro.imgUrl">
      </ion-col>
      <ion-col size="7">
        <h4> {{pro.name  |titlecase}} </h4>
        <ion-text color="secondary"> {{pro.price  | currency }} </ion-text><br>
        <ion-button color="dark" fill="clear" (click)="removeProduct(pro)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="justify-content-center" size="2">
        <ion-button fill="clear" color="dark" (click)="increasProduct(pro)">
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-button>

        <ion-text class="amount">
          {{pro.amount}}
        </ion-text>

        <ion-button fill="clear" color="dark" (click)="decreaseProduct(pro)">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="6">
      <p>Total Amount </p>
      <ion-text> {{totalCash |number}} EGP</ion-text>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" shape="round" color="dark" (click)="conformOrder()" [disabled]="totalCash==0">PROCEED
        CHECKOUT</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
