/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

span.swiper-pagination-bullet {
  margin: -3px 4px !important;
  width: 35px !important;
  border-radius: 3px !important;
  height: 4px !important
}

span.discount{
  position: absolute;
  top: 8px;
  left: 12px;
  border-radius: 6px;
  padding: 5px;
  background-color: var(--danger);
  color: #fff;
  font-weight: 500;
  z-index: 5;
}


// font from google
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{font-family: 'Patrick Hand', cursive;}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
