<ion-header>
  <ion-toolbar>
    <ion-title>Confirm Order </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-margin-top">
    <p class="title">
      <ion-icon slot="start" name="location"></ion-icon>
      Address
    </p>
    <div class="border-left">
      <ion-text class="ion-padding-start ion-margin-top" color="medium">select your address</ion-text>
      <div *ngIf="step === 1">
        <ion-card class="ion-margin" mode="ios">
          <ion-toolbar>
            <ion-text slot="start">Address</ion-text>
            <ion-button slot="end" color="primary" fill="clear" (click)="sellectAddress()">Change</ion-button>
          </ion-toolbar>
          <ion-card-content>
            <ion-row>
              <ion-col size="3">
                <ion-icon name="location" size="large"></ion-icon>
              </ion-col>
              <ion-col size="9">
                <div *ngIf="mainAddress">
                  {{mainAddress.address}},{{mainAddress.state}},{{mainAddress.city}},{{mainAddress.country}}
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-button color="dark" (click)="next()" class="steps" [disabled]="!mainAddress">
          next
        </ion-button>
      </div>
    </div>
    <p class="title">
      <ion-icon slot="start" name="map"></ion-icon>
      Shipping Zone
    </p>
    <div class="border-left">
      <ion-text class="ion-padding-start ion-margin-top" color="medium">select your shipping zone</ion-text>
      <div *ngIf="step === 2">
        <ion-card mode="ios">
          <ion-item lines="none">
            <ion-label color="medium">shipping Zone</ion-label>
            <ion-select color="medium" [(ngModel)]="zone" multiple="false" mode="ios">
              <ion-select-option value="giza">giza</ion-select-option>
              <ion-select-option value="cairo">cairo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>
        <ion-button color="light" (click)="previous()" class="steps">
          previous
        </ion-button>
        <ion-button color="dark" (click)="next()" class="steps" [disabled]="!zone">
          next
        </ion-button>
      </div>
    </div>

    <p class="title">
      <ion-icon slot="start" name="map"></ion-icon>
      Copoun
    </p>
    <div class="border-left">
      <ion-text class="ion-padding-start ion-margin-top" color="medium">have a Copoun</ion-text>
      <div *ngIf="step === 3">
        <ion-card mode="ios">
          <ion-item lines="none">
            <ion-label color="medium">Copoun</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button color="light" (click)="previous()" class="steps">
          previous
        </ion-button>
        <ion-button color="dark" (click)="next()" class="steps">
          next
        </ion-button>
      </div>
    </div>

    <p class="title">
      <ion-icon slot="start" name="map"></ion-icon>
      Payment
    </p>
    <div class="border-left">
      <ion-text class="ion-padding-start ion-margin-top" color="medium">check Payment</ion-text>
      <div *ngIf="step === 4">
        <ion-card mode="ios">
          <ion-item lines="none">
            <ion-label color="medium">Before Discount</ion-label>
            <p>7500 EGP </p>
          </ion-item>
        </ion-card>
        <ion-button color="light" (click)="previous()" class="steps">
          previous
        </ion-button>
        <ion-button color="dark" (click)="orderNow()" class="steps">
          order Now
        </ion-button>
      </div>
    </div>

  </div>




</ion-content>
