
.title{
  padding-left: 30px;
  margin-bottom: 8px;
  margin-top: 10px;
}
.border-left {
  border-left: 1px solid #666;
  margin-left: 35px;
}


ion-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  ion-toolbar {
      --min-height: 40px;
      border-bottom: 1px solid;
  }
  ion-text{
      padding-left: 20px;
      font-weight: 600;
      display: block;
      margin: 10px 20px;
  }
  ion-card-content{
      ion-col:first-of-type{
      display: flex;
      align-items: center;
      }
      ion-col:last-of-type{
          display: flex;
          align-items: center;
          justify-items: center;
      }
      padding: 25px;
      font-size: 18px;
      word-break: break-word;
  }
}

.steps{
  height: 28px;
  font-size: 11px;
  margin: 0 0 0 20px;
}
